<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {{>header}}
   <a href="/about">about</a>
    <h1>gfhgdtfgvbfc</h1>
    <h2>{{channelName}}</h2>
</body>
</html>